@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.container {
  text-align: center;
}

.spinner::before {
  content: ' ';
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

.absolute {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
